# base
/data
/output
*.ipynb
code/elasticsearch-7.9.2
code/saved_models
code/kibana-7.9.2-linux-x86_64

# custom
code/base_code
code/nohup.out
code/assets
code/__pycache__
code/.ipynb_checkpoints
/result
code/py-hanspell-master
code/mlruns
code/models
code/outputs
code/wandb
/outputs
/models

myhaystack/base_code
myhaystack/nohup.out
myhaystack/assets
myhaystack/__pycache__
myhaystack/.ipynb_checkpoints
/result
myhaystack/py-hanspell-master

!data
*.json
data/*
!data/settings.json
!install/
*.sh